# Python
__pycache__/
*.pyc
.env
venv/

# Uploads
uploaded_forms/
*.pdf

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android
android/.gradle/
android/local.properties

# VS Code
.vscode/

# Logs
*.log